root_files/*.root
root_files/*.npz
.ipynb_checkpoints/
.DS_Store
textual.log
__pycache__
random_weights.h5
keras_model_best.h5
*.txt
misc.ipynb
model.ipynb
plotting.ipynb
visualize_network.ipynb
tracks.ipynb
train_basic.ipynb
scripts/__pycache__
root_files/Icon^M
